.detalleItem{
    display: flex;
    flex-direction: column;
    margin: 10rem auto;
    background: linear-gradient(235deg, grey 100%,  #eee 47%, rgb(108,108, 117)0%);
    width: 80%;
    border-radius: 6px;
    color: aliceblue;
    font-size: 1rem;
    position: relative;
    border: 0px;
    box-shadow: 0.4rem 0.2rem 1rem #11111188;
    overflow: hidden;
    text-align: left;
    
}

.contenedorDetalle{
    display: flex;
    padding: 1em;
    gap: 1em;
}
.tituloProducto{
    color: #eef;
}



.imagenDetailProducto img{
    width: 100%;
    border-radius: 0.4rem;
}
.detalle{
    background: linear-gradient(235deg, rgb(108, 108, 117) 0%, #eee 47%, grey 100%);
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1 2em;
    border-radius: 5%;
    font-size: 20px;


}

.detalleDescripcion{
    color: black;
    font-size: 20px;
}

.detalleAtributo{
    color: #333;
}

