
.carrito {
    font-weight: bolder;
    color: white;
    margin-right: 10rem;
}

.carrito button {
    background: rgba(155, 153, 153, 0.712);
    padding-right: 1rem;
    border-radius: 40px ;
    float: right;
   
}

.imagenCarrito {
    width: 1.8rem;
}
