.container-widget {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
div.App{
    background-color: #d8a79074;
}

.widget {
    width: 100%;
    background-color: #d8a790;
    color: aliceblue;
}

.widget img {
    width: 40px;
    height: 40px;
    color:aliceblue;
}

.counter {
    width: 100%;

}

.counter span {
    position: absolute;
    right: 67px;
    top: 26px;
}

.img{
   
    background-color: #d8a790;
    color:aliceblue
}
