*{
    padding: 0;
    margin: 0;
}

nav{
    background-color: #d8a790;
}

.container-nav{
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid grey;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 6);
}

.branding{
    font-size: 25px;
}

.nav-paths{
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.nav-paths-items{
    border-radius: 3px;
    margin: 0 10px;

}
a.nav-paths-items{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px ;
    display: block;
    text-transform: uppercase;
    color: antiquewhite;
    font-weight: bold;
}

a.nav-paths-items:hover{
    color: gray;
}
/*nav{
    width: 100%;
 
 
    min-height: 100px;
    max-width: 1530px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    box-sizing: border-box;
    background-color: #d8a790;
    box-shadow: 0 5px 10px grey;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 25pt;

}



nav a:hover{
    color: gray;

}
nav ul li a:hover {
    color: gray;

}

li{
    list-style: none;
}

header ul{
    display: flex;
    padding: 0;
    margin: 0;

}

div.nav-path{
    padding: 1rem 2rem;
    display:flex;

}

 a{
    font-weight: bold;

}

header .Cart{
    position: relative;
    cursor: pointer;
 
}
header .Cart box-icon{
    width: 45px;
    height: 45px;
   

}
header .Cart span{
    position: absolute;
    top:-1rem;
    right: -1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px grey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color:  grey;

}

/*-------MEDIAS-------*/
@media only screen and (max-width: 600px){
    a.nav-paths-items
     {
        display: none;
    }
}